h1 {
   align-self: center;
   color: brown;
   font-family: arial;
}
















h2 {
   text-align: center;
   font-size: 40px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: brown;
   text-shadow: 3px 3px white;
   background-color: black;
   border: 3px pink;
   border-radius: 3px;
}




h3 {
   color: rgb(76, 38, 38);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-left: 10px;
}












body {
   background-color: rgb(237, 241, 230);
   font-family: Arial;
   align-content: center;
}
















/* Style the tab */
.tab {
   overflow: hidden;
   border: 1px solid rgb(255, 255, 255);
   border-width: 10px;
   background-color: mistyrose
}
















/* Style the buttons inside the tab */
.tab button {
   background-color: inherit;
   /*inherit=defaults to what the backgroudcolor of the lab itsself is*/
   color: brown;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   transition: 0.3s;
   font-size: 17px;
   font-family: "Courier New";
   align-self: center;
}
















/* Change background color of buttons on hover */
.tab button:hover {
   background-color: rgb(234, 162, 174)
}
















/* Create an active/current tablink class */
.tab button.active {
   background-color: rgb(220, 153, 164);
}
















/* Style the tab content */
.tabcontent {
   display: none;
   padding: 6px 12px;
   border: 1px solid rgb(255, 255, 255);
   border-width: 10px;
   border-top: none;
}
















/*flex-container-ex... ex=extirior*/
.flex-container-ex {
   display: flex;
   flex-direction: column;
   background-color: rgb(221, 238, 214);
}
















.flex-container-ex>div {
   background-color: rgb(244, 248, 242);
   margin: 10px;
   padding: 20px;
   font-size: 30px;
}
















/*flex-container-in... in=interior*/
.flex-container-in {
   display: flex;
   flex-direction: row;
}
















.flex-container-in>div {
   background-color: mistyrose;
   margin: 10px;
   padding: 20px;
   font-size: 18px;
}
















/*normal link style*/
a {
   color: brown;
   text-decoration: none;
}
















/**/
a:hover {
   color: aqua;
   text-decoration: underline;
}
















button {
   background-color: rgb(194, 241, 170);
   border: none;
   color: rgb(214, 13, 13);
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 26px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
















* {
   box-sizing: border-box;
}








body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}








.mySlides {
   display: none;
}








img {
   vertical-align: middle;
}
















/*slideshow container*/
.slideshow-container {
   max-width: 1000px;
   /*position: relative;*/
   margin: auto;
}
















.active {
   background-color: #d21919;
}
















/*fading animation*/
.fade {
   animation-name: fade;
   animation-duration: 2s;
}
















@keyframes fade {
   from {
      opacity: .4
   }








   to {
      opacity: 1
   }
}
















/*on smaller screens decrease text size
@media only screen and (max-width:300px) {
 .text {
    font-size: 11px
 }
}
 */








.ml15 {
   font-weight: 200;
   font-size: 11px;
   text-transform: lowercase;
   letter-spacing: 5 px;
}








.ml15 .word {
   display: inline-block;
   line-height: 1em;
}








.ml12 {
   font-weight: 200;
   font-size: 1.8em;
   text-transform: uppercase;
   letter-spacing: 0.5em;
}








.ml12 .letter {
   display: inline-block;
   line-height: 1em;
}








.test-animation {
   font-weight: 200;
   font-size: 1.8em;
   text-transform: uppercase;
   letter-spacing: 0.5em;
}
















.test-animation .letter {
   display: inline-block;
   line-height: 1em;
}








.ml6 {
   position: relative;
   font-weight: 900;
   font-size: 3.3em;
}




.ml6 .text-wrapper {
   position: relative;
   display: inline-block;
   padding-top: 0.2em;
   padding-right: 0.05em;
   padding-bottom: 0.1em;
   overflow: hidden;
}




.ml6 .letter {
   display: inline-block;
   line-height: 1em;
}








.ml5 {
   position: relative;
   font-weight: 300;
   font-size: 4.5em;
   color: brown;
}




.ml5 .text-wrapper {
   position: relative;
   display: inline-block;
   padding-top: 0.1em;
   padding-right: 0.05em;
   padding-bottom: 0.15em;
   line-height: 1em;
}




.ml5 .line {
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   height: 3px;
   width: 100%;
   background-color: brown;
   transform-origin: 0.5 0;
}




.ml5 .ampersand {
   font-family: Baskerville, serif;
   font-style: italic;
   font-weight: 300;
   width: 1em;
   margin-right: -0.1em;
   margin-left: -0.1em;
}




.ml5 .letters {
   display: inline-block;
   opacity: 0;
}








.ml7 {
   position: relative;
   font-weight: 900;
   font-size: 3.7em;
}

.ml7 .text-wrapper {
   position: relative;
   display: inline-block;
   padding-top: 0.2em;
   padding-right: 0.05em;
   padding-bottom: 0.1em;
   overflow: hidden;
}

.ml7 .letter {
   transform-origin: 0 100%;
   display: inline-block;
   line-height: 1em;
}












.ml11 {
   font-weight: 700;
   font-size: 3.5em;
}




.ml11 .text-wrapper {
   position: relative;
   display: inline-block;
   padding-top: 0.1em;
   padding-right: 0.05em;
   padding-bottom: 0.15em;
}




.ml11 .line {
   opacity: 0;
   position: absolute;
   left: 0;
   height: 100%;
   width: 3px;
   background-color: #fff;
   transform-origin: 0 50%;
}




.ml11 .line1 {
   top: 0;
   left: 0;
}




.ml11 .letter {
   display: inline-block;
   line-height: 1em;
}












.ml12 {
   font-weight: 200;
   font-size: 1.8em;
   text-transform: uppercase;
   letter-spacing: 0.5em;
}




.ml12 .letter {
   display: inline-block;
   line-height: 1em;
}
















.ml155 {
   font-weight: 800;
   font-size: 3.8em;
   text-transform: uppercase;
   letter-spacing: 0.5em;
}


.ml155 .word {
   display: inline-block;
   line-height: 1em;
}
















.ml10 {
   position: relative;
   font-weight: 900;
   font-size: 4em;
}




.ml10 .text-wrapper {
   position: relative;
   display: inline-block;
   padding-top: 0.2em;
   padding-right: 0.05em;
   padding-bottom: 0.1em;
   overflow: hidden;
}




.ml10 .letter {
   display: inline-block;
   line-height: 1em;
   transform-origin: 0 0;
}












.ml1 {
   font-weight: 900;
   font-size: 3.5em;
}




.ml1 .letter {
   display: inline-block;
   line-height: 1em;
}




.ml1 .text-wrapper {
   position: relative;
   display: inline-block;
   padding-top: 0.1em;
   padding-right: 0.05em;
   padding-bottom: 0.15em;
}




.ml1 .line {
   opacity: 0;
   position: absolute;
   left: 0;
   height: 3px;
   width: 100%;
   background-color: #fff;
   transform-origin: 0 0;
}




.ml1 .line1 {
   top: 0;
}

.ml1 .line2 {
   bottom: 0;
}












.ml9 {
   position: relative;
   font-weight: 200;
   font-size: 4em;
}




.ml9 .text-wrapper {
   position: relative;
   display: inline-block;
   padding-top: 0.2em;
   padding-right: 0.05em;
   padding-bottom: 0.1em;
   overflow: hidden;
}




.ml9 .letter {
   transform-origin: 50% 100%;
   display: inline-block;
   line-height: 1em;
}












.ml4 {
   position: relative;
   font-weight: 900;
   font-size: 4.5em;
}

.ml4 .letters {
   position: absolute;
   margin: auto;
   left: 0;
   top: 0.3em;
   right: 0;
   opacity: 0;
}




.ml15 {
   font-weight: 800;
   font-size: 3.8em;
   text-transform: uppercase;
   letter-spacing: 0.5em;
}




.ml15 .word {
   display: inline-block;
   line-height: 1em;
}














.centerme {
   align-content: center;
   align-items: center;
   align-self: center;
   text-align: center;
}




.ml2 {
   font-weight: 900;
   font-size: 3.5em;
}


.ml2 .letter {
   display: inline-block;
   line-height: 1em;
}